header {
    text-align: center;
}

div {
    margin-top: 10px;
    text-align: center;
    color:#032433;
    
}
body {
    background-color: rgb(150, 188, 221);
}

#ledger {
    color:#032433;
    border: 1px solid coral;
}


